
  <link rel="stylesheet" href="/css/company.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<body>
    <%- include('_headerImage')%>
    <div id="main-container">

      <!-- start: company detail container -->
      <div id="company-detail-container">
        <div id="company-left-detail">
          <div id="company-brand-image">
            <img src="<%= company.logo %>" width="165px">
          </div>
          <div id="company-brand-detail">
            <h2><%= company.name %></h2>
            <h5 style="color: coral;"><%= company.technology %></h5>
          </div>
        </div>
        <div id="company-right-detail">
          <div id="company-location"><b>Location</b>: <%= company.location %></div>
          <div id="company-pay"><b>Pay</b>: <%= company.pay%></div>
          <div id="company-deadline"><b>Last Date</b>: <%= company.deadline.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %></div>
        </div>
      </div>
      <!-- end: company detail container -->
      

      <div style="margin:20px;">
        <a href="/files/export/<%= company.name %>.csv" class="btn btn-outline-danger float-end">CSV</a>
        <h2>Students</h2>
      </div>

      <!-- Students Lists Container --> 
      <div id="students-lists-container">

        <!-- student detail box -->

        <% for (student of company.students){%>
       
        <div class="student-data-box">
          <div class="form-check form-switch" style="right: 10px;position: absolute;top: 13px;width: 130px;">
            <b style="position: absolute;top: -1px;color: coral;">Status</b>
            <input class="form-check-input float-end" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          </div>
          <h3 style="color: #137dc5;">
            <%= student.name %>
          </h3>
          <div id="student-personal-detail">
            <b>Gender:</b> <%= student.gender %>
            <b>Email :</b> <%= student.email %>
          </div>
          <div class="student-scores-container">
           <span> <b>WebD:</b> <%= student.scores.webd %> </span>
           <span> <b>DSA:</b> <%= student.scores.dsa %> </span>
           <span> <b>React:</b><%= student.scores.react %></span>
          </div>
     
        </div>
        <% } %>
       
      </div>
      <!--End: Students Lists Container --> 

    </div>
    <!-- end main container -->
    
    <!-- <script src="/javascripts/company.js"></script> -->
</body>