
  <link rel="stylesheet" href="/css/company.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<body>
    <%- include('_headerImage')%>
    <div id="main-container">

      <!-- start: company detail container -->
      <div id="company-detail-container">
        <div id="company-left-detail">
          <div id="company-brand-image">
            <img src="<%= company.logo %>" width="165px">
          </div>
          <div id="company-brand-detail">
            <h2><%= company.name %></h2>
            <h5 style="color: coral;"><%= company.technology %></h5>
          </div>
        </div>
        <div id="company-right-detail">
          <div id="company-location"><b>Location</b>: <%= company.location %></div>
          <div id="company-pay"><b>Pay</b>: <%= company.pay%></div>
          <div id="company-deadline"><b>Last Date</b>: <%= company.deadline.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %></div>
          <% if(locals.user){%>
          <div style="text-align: end;">
            <a href="/files/export/<%= company.name %>.csv" class="btn btn-outline-dark">CSV</a>
          </div>
          <% } %>
        </div>
      </div>
      <!-- end: company detail container -->
      

      <div id="information">
        <h2>Students</h2>
        <div id="status-info">
          <div>
            <button class="status-cleared-info"><i class="fa-solid fa-circle"></i></button> 
            Cleared 
          </div>
          <div>
            <button class="status-not-cleared-info"><i class="fa-solid fa-circle"></i></button> 
            Not Cleared 
          </div>
          <div>
            <button class="status-not-attempt-info"><i class="fa-solid fa-circle"></i></button> 
            Not Attempt 
          </div>
        </div>
      </div>

      <!-- Students Lists Container --> 
      <div id="students-lists-container">

        <!-- student detail box -->

        <% for (interview of interviews){%>
       
        <div class="student-data-box">
          
          <h3 style="color: #137dc5;">
            <% if(interview.result=='not-attempt'){ %>
              <button class="status-not-attempt"><i class="fa-solid fa-circle"></i></button>
            <% }else if(interview.result=='cleared'){ %>
              <button class="status-cleared"><i class="fa-solid fa-circle"></i></button>
            <% } else { %> 
              <button class="status-not-cleared"><i class="fa-solid fa-circle"></i></button>
            <% } %>

            <%= interview.student.name %>
          </h3>
          <div class="student-personal-detail">
            <span>
              <b>Gender:</b> <%= interview.student.gender %>
            </span>
            <span>
              <b>Email :</b> <%= interview.student.email %>
            </span>
          </div>
          <div class="student-scores-container">
           <span> <b>WebD:</b> <%= interview.student.scores.webd %> </span>
           <span> <b>DSA:</b> <%= interview.student.scores.dsa %> </span>
           <span> <b>React:</b><%= interview.student.scores.react %></span>
          </div>
          <!-- form to send result of interview -->

          <!-- finding student interview obj -->



          <% if(locals.user && interview.result == 'not-attempt'){%>
          <div class="student-inteviw-result-form">
            <h5>Result</h5>
            <form action="/interview/add/result" method="post">
              <input type="text" name="id" value="<%= interview._id %>" hidden>
              <input type="text" name="s_id" value="<%= interview.student._id %>" hidden>
              <input class="form-check-input" type="radio" name="result" value="cleared"> Cleared
              <input class="form-check-input" type="radio" name="result" value="not-cleared"> Not Cleared
              <input type="submit" value="Assign" class="btn btn-primary float-end" style="font-size: x-small;">
            </form>
          </div>
          <% } %>



        </div>
        <% } %>
       
      </div>
      <!--End: Students Lists Container --> 

    </div>
    <!-- end main container -->
    
    <!-- <script src="/javascripts/company.js"></script> -->
</body>