
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  
<body>
  <%- include('_headerImage')%>
  

  <!--start: main container -->
  <div id="main-container">

        <!-- buttons for showing form to add student and batch -->
        <% if(locals.user){%>
        <div id="buttons">
          <button class="btn btn-outline-warning float-end" onclick="openAddStudentForm()">Add Student <b>+</b></button>
          <button class="btn btn-outline-dark" onclick="openAddBatchForm()" >Add Batch <b>+</b></button>
        </div>
      
        
        <!-- for adding new batch form -->
        <div id="batch-container">
          <div id="batch-form-container">
            <div id="batch-detail">
              <button class="btn btn-outline-danger float-end" onclick="closeAddBatchForm()">X</button>
              <h4>Add Batch</h4><hr>
            </div>
            <div id="batch-form">
              <form action="/add/batch" method="post">
                 <!-- Batch input -->
                 <div class="onwidth form-outline p-4 d-flex justify-content-between">
                  <label class="onwidth form-label">Batch</label>
                  <input type="text" name="batch" class="onwidth form-control form-control-sm w-75" placeholder="Enter Batch Name" required/> 
                </div>
                 <!-- Submit button -->
                 <button type="submit" class="btn btn-primary float-end">
                  Add Batch
                </button>
              </form>
            </div>
          </div>
        </div>

        <!-- for adding new student form -->
        <div id="add-student-container">
      
          <div id="add-student-detail">
              <button class="btn btn-outline-danger float-end" onclick="closeAddStudentForm()">X</button>
              <h4>Add Student</h4><hr>
              <div id="add-student-form">
                  <form action="/student/addstudent" method="POST">

                    <!-- Name input -->
                    <div class="onwidth form-outline mb-4 d-flex justify-content-between">
                      <label class="onwidth form-label">Name</label>
                      <input type="name" name="name" class="onwidth form-control form-control-sm w-75" placeholder="Enter Full Name of Student" required/> 
                    </div>

                    <!-- Gender Input -->
                    <div class="onwidth form-outline mb-4 d-flex justify-content-between">
                      <label class="onwidth form-label">Gender</label>
                      <select class="onwidth form-select form-select-sm w-75" name="gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                      </select>
                    </div>



                    <!-- Email input -->
                    <div class="onwidth form-outline mb-4 d-flex justify-content-between">
                      <label class="onwidth form-label">Email</label>
                      <input type="email" name="email" class="onwidth form-control form-control-sm w-75" placeholder="Enter Email of Student" required/> 
                    </div>
                  

                    <!-- College input -->
                    <div class="onwidth form-outline mb-4 d-flex justify-content-between">
                      <label class="onwidth form-label">College</label>
                      <input type="name" name="college" class="onwidth form-control form-control-sm w-75" placeholder="College Name of Student" required/> 
                    </div>
    
                    <!-- Batch Input -->
                    <div class="onwidth form-outline mb-4 d-flex justify-content-between">
                      <label class="onwidth form-label">Batch</label>
                      <select class="onwidth form-select form-select-sm w-75" name="batch">
                        <% for( batch of batches ) {%>
                          <option value="<%= batch._id %>"><%= batch.batch %></option>
                        <% } %>
                      </select>
                    </div>
    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary float-end my-3">
                      Add Student
                    </button>
                  </form>
              </div>
          </div>
        </div>
        <!-- end of adding student form container -->
        <% } %>

        <!-- Student List Container -->
        <div id="student-list-container">

          <!-- creating table using datatable.net library -->
          <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Batch</th>
                    <th>Status</th>
                    <th>Interview</th>
                </tr>
            </thead>

            <!-- table body -->
            <tbody>

                <!-- looping over all students -->
                <% for( student of students) {%>
                  <tr>
                    <td><%= student_index %></td>
                    <td><%= student.name %></td>
                    <td><%= student.gender %> </td>
                    <td><%= student.email %></td>
                    <td><%=student.batch.batch %></td> </td>
                      <% if(student.status) {%>
                        <td>Placed</td>
                      <% }else{  %>
                        <td>Not Placed</td>
                      <% } %>
                    <td style="display: flex;justify-content: space-between;">
                      <button style="background:none;border: none;font-size: x-large;color: cornflowerblue;" onclick="openAddInterviewForm('<%= student._id %>','<%= student.name %>')">
                        <i class="fa-solid fa-calendar-plus"></i>
                      </button> 
                      <button style="background: none;border:none;color:red;font-size: x-large;">
                        <i class="fa-solid fa-delete-left"></i>
                      </button>
                    </td>
                    <% student_index++ %>
                  </tr>
                <% } %>
               
            </tbody>
          </table>
        </div>
        
        <!--End: Student List Container -->
        

        <!-- interview form for adding student -->
        <div id="interview-form-container">
          <div id="add-interview-form">
            <div style="text-align: left;color: #333333;">
              <button class="btn btn-outline-danger float-end" onclick="closeAddInterviewForm()">X</button>
              <h3>Interview Schedule</h3>
            </div>
            <form action="/interview/add" method="post">

              <div id="interview-pass-data-from-js">
                  <!-- Student input -->
                <div class="onwidth form-outline p-2 d-flex justify-content-between">
                  <label class="onwidth form-label">Student</label>
                  <input type="text" name="batch" class="onwidth form-control form-control-sm w-75" value="Gaurav Singh" readonly required/> 
                </div>
  
                <!-- Batch Input -->
                <div class="onwidth form-outline p-2 d-flex justify-content-between">
                  <label class="onwidth form-label">Company</label>
                  <select class="onwidth form-select form-select-sm w-75" name="batch">
                    
                  </select>
                </div>
              

              <!-- Schedule Date -->
              <div class="onwidth form-outline p-2 d-flex justify-content-between">
                <label class="onwidth form-label">Date</label>
                <input type="date" name="date" class="onwidth form-control form-control-sm w-75" required/> 
               </div>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary float-end">
               Add Interview
              </button>
           </form>
          </div>
        </div>

  </div>




  <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
    <script>$(document).ready( function () {
        $('#table_id').DataTable();
    } );</script>
    <script src="/javascripts/home.js"></script>
  
</body>
